* {
  margin: 0px;
  padding: 0px;
}
/* Header Section */
.header_section {
  max-width: 1140px;
  margin: 0px auto;
}
/* Navigation Style */
.logo img {
  max-width: 135px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
}
.navigation_bar {
  display: flex;
  gap: 3rem;
}
.navigation .navigation_bar li {
  list-style: none;
}
.nav_link {
  text-decoration: none;
  color: #8987a1;
  font-size: 25px;
}
#home,
#cart {
  color: #252432;
}
button {
  background-color: white;
  border: none;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.057);
  border-radius: 5px;
  font-size: 25px;
}
/* Banner section */
.banner {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.banner_content {
  width: 50%;
}
.banner_img {
  width: 50%;
}
.banner_title {
  font-size: 4rem;
  color: #e95a08;
  margin: 0px;
}
.banner_description {
  font-size: 1.37rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
  text-align: justify;
  margin-bottom: 0px;
}
.banner img {
  width: 100%;
}
/* main section */
/* main {
  max-width: 1140px;
  margin: 0 auto;
} */
/* Plant section style */

.plants_section {
  max-width: 1140px;
  margin: 0px auto;
}
.section_content {
  margin-top: 120px;
  text-align: center;
}
.section_title {
  font-size: 3.12rem;
  margin: 0px;
}
.section_subtitle {
  margin: 1rem 0px;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
}

.card_img {
  width: 270px;
  margin-bottom: 1.3rem;
}
.plant_name {
  font-size: 1.37rem;
  color: #111111;
  text-align: center;
  font-weight: 600px;
  margin-bottom: 10px;
}
.plant_rate {
  font-size: 1.37rem;
  font-weight: bold;
  color: #111111;
  text-align: center;
  margin-bottom: 1.3rem;
}
.card_button {
  width: 100%;
  background-color: #e95a08;
  padding: 20px;
  font-size: 1rem;
  font-weight: 500px;
  color: white;
}
.card_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
/* Flower lover section style */
.lover_section {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 210px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lover_img {
  width: 58%;
  background-image: url(../assets/flower-store.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 587px;
}
.lover_img img {
  width: 200px;
  margin-top: -90px;
  margin-left: 400px;
}
.lover_section ul li {
  list-style: disc;
}
.lover_content {
  width: 40%;
}
.lover_content_title {
  font-size: 50px;
}
.lover_content_description {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}
.lover_content_description li {
  margin-top: 20px;
}

/*Latest Deals Section(Challenge Part)*/
.latest_deals {
  max-width: 1140px;
  margin: 0px auto;
}
.deals_title {
  font-size: 3.12rem;

  margin: 0px;
  margin-top: 140px;
  text-align: center;
}
.deals_description {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  text-align: center;
  margin: 1.5rem 15rem;
}
.deals_container {
  display: flex;
  height: 400px;
  justify-content: space-between;
}
.deals_left {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.deals_right {
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.55) 50%,
      rgba(0, 0, 0, 0.55) 50%
    ),
    url("../assets/deal-zabo.png");
  width: 66%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  text-align: center;
  align-content: center;
}

.deals_left_content-1 {
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.55) 50%,
      rgba(0, 0, 0, 0.55) 50%
    ),
    url("../assets/deal-bloom.png");
  width: 100%;
  height: 48%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 14px;
  text-align: center;
  align-content: center;
}
.deals_left_content-2 {
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.55) 50%,
      rgba(0, 0, 0, 0.55) 50%
    ),
    url("../assets/deal-ana.png");
  width: 100%;
  height: 48%;
  background-repeat: no-repeat;
  border-radius: 14px;
  text-align: center;
  align-content: center;
}
.discund {
  font-size: 1.5rem;
  color: rgb(251, 250, 250);
  font-weight: 600;
  margin-bottom: 10px;
}
#zaba {
  font-size: 2.5rem;
}
#zaba_shop {
  font-size: 1.5rem;
}
.shop_link {
  font-size: 1rem;
  font-weight: 700;
  color: azure;
}
/* Join section style */
.join {
  background-image: url("..//assets/news-letter-bg.png");
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}
.join_title {
  font-size: 3rem;
  color: white;
  text-align: center;
  margin-bottom: 40px;
}
#email {
  width: 644px;
  height: 50px;
  border: none;
}
.div {
  display: flex;
  gap: 0px;
}
.subscribe_btn {
  width: 186px;
  height: 50px;
  border: none;
  border-radius: 0px;
  color: white;
  background-color: #e95a08;
}
input::placeholder {
  padding: 30px;
}

/* footer section style */
.footer_section {
  display: grid;
  gap: 80px;
  grid-template-columns: repeat(4, 1fr);
  margin: 50px 150px;
}
.footer_content img {
  width: 100px;
}
.logo_description {
  font-size: 1.375rem;
  color: rgba(0, 0, 0, 0.5);
}
.link li {
  list-style: none;
  padding-top: 10px;
}
.link li a {
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 50px;
  color: rgba(0, 0, 0, 0.5);
}
.footer_right_logo img {
  width: 36px;
  height: 36px;
}
.footer_right_logo {
  display: flex;
  gap: 24px;
  padding-top: 10px;
}

/* Mobile Responsive */
@media screen and (max-width: 576px) {
  .latest_deals,
  .lover_section,
  .plants_section,
  .header_section {
    max-width: 320px;
    margin: 0px auto;
  }
  /* Header section */
  /* navigation Style */
  .cart {
    font-size: 1rem;
  }
  .navigation {
    margin: 1rem 0px;
    gap: 140px;
  }
  .logo img {
    max-width: 63px;
  }
  .navigation_bar li {
    display: none;
  }

  /* banner style */
  .banner {
    flex-direction: column-reverse;
  }
  .banner_content {
    width: 100%;
  }
  .banner_img {
    width: 100%;
  }
  .banner_title {
    font-size: 1.5rem;
    margin-bottom: 13px;
    margin-top: 1.3rem;
  }
  .banner_description,
  .section_subtitle {
    font-size: 1rem;
  }
  /* plant Section responsive */
  .section_title {
    font-size: 1.5rem;
  }
  .section_content {
    margin-top: 60px;
  }
  .plant_rate {
    margin-bottom: 10px;
  }

  .card_container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .card_img {
    max-width: 100%;
    margin-bottom: 10px;
  }
  .card_button {
    width: 100%;
  }
  .banner img {
    width: 100%;
  }
  /* main section */
  /* flower lover */
  .lover_section {
    flex-direction: column;
    margin-top: 50px;
  }
  .lover_img img {
    display: none;
  }
  .lover_img {
    width: 100%;
    margin-bottom: 0px;
    height: 400px;
  }
  .lover_content {
    width: 100%;
    margin-top: 0px;
  }
  .lover_content_title {
    font-size: 1.5rem;
  }
  .lover_content_description {
    font-size: 1rem;
    padding-left: 20px;
  }
  .lover_content_description li {
    font-size: 0.8rem;
  }
  /* latest Deals Section */
  .deals_title {
    font-size: 2rem;
    margin-top: 80px;
  }
  .deals_description {
    margin: 1rem 0px;
    font-size: 1rem;
  }

  .deals_container {
    flex-direction: column;
    justify-content: start;
    height: 750px;
    gap: 1rem;
  }
  .deals_left {
    gap: 1rem;
  }
  .deals_left_content-1,
  .deals_left_content-2 {
    height: 200px;
  }
  .deals_left {
    width: 100%;
  }
  .deals_right {
    width: 100%;
    height: 200px;
  }
  .discund,
  #zaba {
    font-size: 1.5rem;
  }
  .shop_link,
  #zaba_shop {
    font-size: 1rem;
  }
  /* jon section */
  .join {
    margin-top: 0px;
    height: 300px;
    padding: 40px 20px;
    flex-direction: row;
  }

  .join_title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .div {
    flex-direction: row;
  }

  #email,
  .subscribe_btn {
    width: 100%;
    height: 45px;
    font-size: 0.95rem;
  }

  .subscribe_btn {
    font-size: 1.2rem;
    padding: 0 1rem;
    width: 40%;
  }
  /* footer Section */
  .footer_section {
    grid-template-columns: repeat(1, 1fr);
    gap: 0px;
    margin-left: 20px;
  }
  .footer_content {
    margin: 0px;
    padding: 0px;
  }
  .footer_content img {
    width: 100px;
  }
  .footer_link-2 {
    margin-bottom: 2rem;
  }
  .link li a {
    font-size: 1rem;
    line-height: 1.8rem;
  }
}
